@font-face {
  font-family: "PalmerLake";
  src: local("PalmerLake"),
    url("../fonts/WOFF/PalmerLakePrint-Regular.woff") format("woff");
}

// Variables
$header-font: "Elsie", cursive;
$second-title-font: "PalmerLake", serif;
$body-font: "Raleway", sans-serif;

$seashell: #fff6f0;
$pink-brown: #c87469;
$light-pink: #f2d0c3;
$yellow: #dec054;
$purple: #d3bada;
$brown: #473b34;
$white: #fdfef9;

@mixin button-style {
  button {
    background-color: $yellow;
    font-family: $body-font;
    font-weight: bold;
    color: $brown;
    border: 2px solid $white;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
  }

  button:hover {
    background-color: $pink-brown;
    border: 2px solid $white;
  }
}

// Customizations

body {
  background-color: $seashell;
  color: $brown;
  font-family: $body-font;
}

// General
.section-title {
  margin-top: 2em;
}

.jumbotron {
  display: flex;
  margin: 0px;
  border-bottom: 5px solid $white;
  border-top: 5px solid $white;
}

body {
  color: $brown;
}

// Landing

.test-container {
  margin-top: auto;
}

#main-landing {
  background-image: url("../images/mainlandingmobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(125vh - 0px);
}

.hero-copy {
  line-height: 1.8;

  .hero-heading-main {
    margin-top: 100px;
  }
  h3 {
    font-family: $second-title-font;
    font-size: 2em;
    margin-bottom: 0;
  }

  p {
    font-size: 22px;
  }

  .connect-links {
    font-size: 1em;
  }

  @include button-style();
}

.hero-heading-main {
  font-family: $header-font;
  font-size: 3.5em;
}

.hero-heading-sub {
  font-family: $header-font;
  font-size: 2.3em;
  color: $pink-brown;
}

// About Me

.about-div {
  padding: 2em;
  background-color: $light-pink;

  h1 {
    font-family: $second-title-font;
    font-size: 3.5em;
  }

  span {
    font-weight: bold;
  }

  li {
    margin: 1em 0;
  }
}

//Skills Section

.skills-div {
  display: flex;
  flex-flow: column wrap;
  width: 100%;

  h1 {
    font-family: $header-font;
    text-transform: lowercase;
    align-self: center;
    margin-bottom: 2em;
  }

  h2 {
    font-family: $second-title-font;
  }

  ul {
    list-style-type: none;
  }

  li {
    font-size: 1em;
    flex-grow: 1;
  }
}

.skill-group {
  display: flex;
  flex-flow: column wrap;

  .skill-group-icon {
    font-size: 4em;
    align-self: center;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding: 0 1em;
  }

  .skill-icon {
    font-size: 2em;
  }

  .skill-title {
    align-self: center;
  }
}

.skill .other-skills {
  font-size: 1em;
}

//Projects
.project-container {
  flex-flow: column wrap;

  h1 {
    font-family: $header-font;
    align-self: center;
    margin-top: 1em;
  }
}

.project-screenshot {
  width: 100%;
  align-self: center;
  margin-top: 2em;
}

.project-about,
.project-details {
  h1 {
    font-family: $header-font;
  }
  h2 {
    font-family: $second-title-font;
  }

  div {
    margin: 0;
    padding: 0;
  }
}

.project-buttons {
  margin-top: 2em;
  align-self: center;

  @include button-style();

  .app-button,
  .code-button {
    margin-right: 1em;
  }
}

.text-emphasis {
  z-index: -2;
  height: 50px;
  position: relative;
  top: 45px;
  right: 10px;
}

// Footer

.footer-color {
  background-color: #e4d2e4;
  padding: 1em;
}

.connect-title {
  text-align: right;
  padding-right: 90px;
  font-family: $second-title-font;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;

  a {
    color: #333;
  }

  a:hover {
    color: #fff;
  }
}

// .btn-primary {
//   background-color: $primary;
// }

.head-title {
  font-family: $header-font;
}

// Media Queries
@media only screen and (min-width: 768px) {
  // For Desktop

  .test-container {
    margin-top: 80px;
  }

  #main-landing {
    background-image: url("../images/mainlanding.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(125vh - 0px);
  }

  .footer {
    padding: 3em;
  }

  .skills-div {
    ul {
      display: flex;
    }

    li {
      text-align: center;
      padding: 0 1em;
      flex-direction: row;

      h3 {
        font-size: 16px;
      }
    }
  }

  .project-screenshot {
    width: 50%;
    align-self: center;
  }

  .about-div {
    border: 1px solid #333;
    padding: 5em;

    span {
      font-weight: bold;
    }
  }
}
