@font-face {
  font-family: "PalmerLake";
  src: local("PalmerLake"),
    url("../fonts/WOFF/PalmerLakePrint-Regular.woff") format("woff");
}

// Variables
$header-font: "Yeseva One", serif;
$second-title-font: "PalmerLake", serif;

// Customizations

// General

.section-title {
  margin-top: 2em;
}

// About Me

.about-div {
  border: 1px solid #333;
  padding: 2em;

  span {
    font-weight: bold;
  }

  li {
    margin: 1em 0;
  }
}

//Skills Section

.skills {
  margin-bottom: 2em;
}

.skills-div {
  ul {
    list-style-type: none;
    font-size: 2em;
  }

  li {
    text-align: center;
    padding: 0 1em;

    h3 {
      font-size: 16px;
    }
  }
}

.skills-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Projects
.projects-section {
  border: 1px solid #333;
}

.project-about,
.project-details {
  h2 {
    font-family: $second-title-font;
  }
}

.text-emphasis {
  z-index: -2;
  height: 50px;
  position: relative;
  top: 45px;
  right: 10px;
}

// Footer

.footer-color {
  background-color: #e4d2e4;
  padding: 1em;
}

.connect-title {
  text-align: right;
  padding-right: 90px;
  font-family: $second-title-font;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;

  a {
    color: #333;
  }

  a:hover {
    color: #fff;
  }
}

// .btn-primary {
//   background-color: $primary;
// }

.jumbotron {
  height: calc(100vh);
  border: 1px solid #333;
}

.head-title {
  font-family: $header-font;
}

.about-div {
  background-color: #e4d2e4;
}

// Media Queries
@media only screen and (min-width: 768px) {
  // For Desktop

  .footer {
    padding: 3em;
  }

  .skills-div {
    ul {
      display: flex;
    }

    li {
      text-align: center;
      padding: 0 1em;
      flex-direction: row;

      h3 {
        font-size: 16px;
      }
    }
  }

  .about-div {
    border: 1px solid #333;
    padding: 5em;

    span {
      font-weight: bold;
    }
  }
}
