@font-face {
  font-family: "Jaceline";
  src: local("Jaceline"), url("../fonts/Jaceline.ttf") format("ttf");
}

// Variables
$header-font: "Bodoni Moda", serif;
$second-title-font: "Jaceline", serif;
$body-font: "Montserrat", sans-serif;
$serif-two: "Abhaya Libre", serif;

$seashell: #f4f0ed;
$pink-brown: #bb9278;
$lighter-brown: #c38682;
$light-pink: #e8d3cc;
$splash-pink: #d1728a;
$purple: #d3bada;
$brown: #333;
$white: #fdfef9;

@mixin button-style {
  button {
    background-color: $pink-brown;
    font-family: $body-font;
    font-weight: 700;
    letter-spacing: 0.4em;
    border: 2px solid $white;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    font-size: 11px;
    color: $white;
  }

  button:hover {
    background-color: $lighter-brown;
    border: 2px solid $white;
    text-decoration: none;
    color: $white;
  }
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $pink-brown;
  border: 2px solid $white;
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:focus {
  background-color: $pink-brown;
  border: 2px solid $white;
  outline: none;
  box-shadow: none;
}

// Customizations

body {
  background-color: $seashell;
  color: $brown;
  font-family: $body-font;
  @include button-style();
}

// General
.section-title {
  margin-top: 2em;
}

.jumbotron {
  display: flex;
  margin: 0px;

  a {
    color: $white;
  }

  a:hover {
    text-decoration: none;
    color: $white;
  }
}

body {
  color: $brown;
}

//Navigation
.navbar {
  background-color: $pink-brown;
  color: $seashell;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4em;
  font-size: 11px;

  a {
    color: $seashell;
    padding-right: 20px;
  }

  a:hover {
    color: $light-pink;
    text-decoration: none;
  }
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;
}

// Landing

.test-container {
  margin-top: auto;
}

#main-landing {
  min-height: calc(125vh - 0px);
  background-color: $seashell;
}

#main-landing::before {
  content: "";
  background-image: url("../images/background-hero.jpg");
  background-position: 0px -40px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.hero-copy {
  line-height: 1.8;
  text-align: center;

  .hero-heading-main {
    margin-top: 100px;
    text-transform: uppercase;
    letter-spacing: 1.25rem;
  }
  h3 {
    font-family: $second-title-font;
    font-size: 9rem;
    display: inline-block;
    position: relative;
    bottom: 4rem;

    margin-bottom: 0;
    color: $splash-pink;
    transform: rotate(-2.5deg);
    letter-spacing: 0.3rem;
  }

  p {
    font-size: 13px;
    margin-top: -6em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }

  .connect-links {
    font-size: 1em;
  }

  @include button-style();
}

.hero-heading-main {
  font-family: $header-font;
  font-size: 4.2rem;
}

.more-icon {
  font-size: 14px;
  color: $pink-brown;
  font-family: $body-font;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 130px;
}

// About Me

.underline {
  text-decoration: underline;
}

.about-me-pics {
  max-width: 100%;
  align-content: center;
}

.section-intro {
  font-family: $header-font;
  text-transform: uppercase;
  // color: $pink-brown;
  font-size: 2.25rem;
  letter-spacing: 0.4em;
}

hr {
  width: 100px;
  height: 2px;
  border-top: solid 2px $pink-brown;
  padding: 0 2rem;
}

.hello-intro {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
}

.about-div {
  padding: 4em;
  height: calc(50vh);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;

  h3 {
    font-weight: 400;
  }

  span {
    font-weight: bold;
  }

  li {
    margin: 1em 0;
    font-size: 0.95em;
    font-family: $body-font;
  }
}

.about-div-one {
  p {
    font-family: $serif-two;
    padding: 0 6rem;
  }
}

#what-div {
  font-family: $body-font;
  flex-flow: row wrap;
  align-content: center;

  li {
    padding-bottom: 2rem;
    list-style: none;
  }
}

.about-div-two {
  li {
    font-family: $serif-two;
  }
}

.about-hey {
  padding: 0px;
  font-family: $second-title-font;
  color: $splash-pink;
  font-size: 4rem;
}

.mid-section {
  display: flex;
  font-family: $header-font;
  min-height: calc(100vh);
  justify-content: center;
  line-height: 1.8;
  text-align: center;
  align-content: center;

  .row {
    justify-content: center;
  }

  #about-line-one {
    color: $pink-brown;
    font-size: 1em;
  }
  #about-line-two {
    color: #daa49d;
    font-size: 1em;
  }

  #about-line-three {
    color: $splash-pink;
    font-size: 3.25em;
    font-family: $second-title-font;
    font-weight: 200;
    position: relative;
    bottom: 50px;
  }

  .buttons-about {
    display: flex;
    justify-content: space-around;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    .btn {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  @include button-style();
}

//Skills Section

.box-skills {
  display: flex;
  justify-content: center;
  background-color: $seashell;
  border: 5px solid $white;
  height: 85%;
  width: 100%;
  transform: scale(1, 1) translate(0px, 0px);
  position: relative;
  h1 {
    margin-top: 20px;
  }
}

.circle {
  // background-color: $seashell;
  border-radius: 50%;
  border: 0px solid $white;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 140px;
  top: 60px;
}

.circle_2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  left: 125px;
  top: 75px;
}

.test-container-about {
  background-color: $light-pink;
  padding: 3.5rem;
}

.skills-div {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  z-index: 4;

  h1 {
    font-family: $second-title-font;
    align-self: center;
  }

  h4 {
    font-family: $header-font;
    letter-spacing: 0.2em;
    font-size: 1.35em;
    margin-top: 15px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
  }

  li {
    font-size: 1em;
  }
}

.skill-group {
  display: flex;
  flex-flow: column wrap;
  color: $body-font;
  // background-color: $seashell;
  padding: 1rem;
  margin: 1rem 0;

  .skill-group-icon {
    font-size: 4em;
    align-self: center;
    position: relative;
    z-index: 4;
    margin-top: 25px;
    color: $pink-brown;
  }

  .skill-title {
    align-self: center;
  }

  ul {
    margin-top: 10px;
    display: flex;
    font-family: $body-font;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    flex-flow: column wrap;
    align-content: center;
    line-height: 2;
    padding: 0px;
  }

  li {
    list-style-type: none;
    align-self: center;
  }
}

//Projects

.card-subtitle {
  text-transform: uppercase;
  font-family: $body-font;
  letter-spacing: 0.4em;
  font-size: 11px;
  margin-bottom: 2em;
}

.card-img-top {
  margin-bottom: 0px;
}

.projects-section {
  margin-top: 80px;

  h1 {
    font-family: $header-font;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    width: 100%;
    text-align: center;
  }
}

.card {
  border: 0px;
  background-color: $white;
  margin: 0 auto;

  .card-img-top {
    margin-bottom: 20px;
  }

  @include button-style();

  .btn {
    font-size: 14px;
  }
}

.card {
  padding: 1.5em;
}

.card-body {
  display: flex;
  flex-flow: column wrap;
  height: 250px;

  a {
    display: flex;
    color: $seashell;
    justify-content: center;
    margin-top: auto;
  }

  a:hover {
    text-decoration: none;
  }

  p {
    margin-top: 1em;
  }
}

.project-navigation {
  margin-top: 45px;
}

.project-container {
  flex-flow: column wrap;
  margin: 3em 3em;
  align-items: center;

  h1 {
    font-family: $header-font;
    align-self: center;
    margin-top: 1em;
    font-size: 2.25rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    font-size: 11px;
    color: #6c757d;
    padding: 2rem 0;
  }

  .section-separator {
    width: 300px;
    align-content: center;
    justify-content: center;
  }
}

.project-screenshot {
  width: 100%;
  align-self: center;
  margin-top: 2em;
}

.project-about,
.project-details {
  display: flex;
  flex-flow: column wrap;

  h1 {
    font-family: $header-font;
  }
  h2 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .row {
    justify-content: center;
  }

  div {
    padding: 0;
  }
}

.project-buttons {
  margin-top: 2em;
  align-self: center;

  @include button-style();

  a {
    display: flex;
    color: $seashell;
    justify-content: center;
    margin-top: auto;
  }

  a:hover {
    text-decoration: none;
  }

  .app-button,
  .code-button {
    margin-right: 1em;
  }
}

.text-emphasis {
  z-index: -2;
  height: 50px;
  position: relative;
  top: 45px;
  right: 10px;
}

//Contact

.contact-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/background-contact-page.png");
  background-position: center;
  background-size: cover;
}

.cursive {
  font-family: $second-title-font;
  font-weight: lighter;
  font-size: 70px;
  text-transform: lowercase;
  color: $splash-pink;
}

.contact-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  a {
    color: $brown;
  }

  a:hover {
    color: $lighter-brown;
    text-decoration: none;
  }

  p {
    letter-spacing: 0.2em;
    margin-left: 30px;
  }

  svg {
    font-size: 30px;
  }
}

.contact-type {
  display: flex;
  flex-flow: row wrap;
  align-content: baseline;
  margin: 20px 0;
}

.contact-section {
  background-color: $seashell;
  min-height: 75vh;
  min-width: 75vh;
  align-content: center;
  text-align: center;
  padding: 3em;
  flex-flow: column wrap;
  @include button-style();

  h1 {
    font-family: $header-font;
    text-transform: uppercase;
  }

  .contact-button {
    margin-bottom: 25px;
    margin-top: auto;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

// Footer

.footer {
  background-image: url("../images/background-contact-page.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  font-family: $serif-two;
}

.footer-container {
  background-color: $seashell;
  padding: 2em;

  img {
    max-width: 400px;
  }
}

.connect-title {
  text-align: right;
  padding-right: 90px;
  font-family: $second-title-font;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;

  a {
    color: #333;
  }

  a:hover {
    color: #fff;
  }
}

// .btn-primary {
//   background-color: $primary;
// }

.head-title {
  font-family: $header-font;
}

// Media Queries
@media only screen and (min-width: 768px) {
  // For Desktop

  .test-container {
    margin-top: 80px;
  }

  #main-landing {
    // background-image: url("../images/mainlanding.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 0px);
  }

  .footer {
    padding: 3em;
  }

  .skills-div {
    ul {
      display: flex;
    }

    li {
      text-align: center;
      padding: 0 1em;
      flex-direction: row;

      h3 {
        font-size: 16px;
      }
    }
  }

  .project-screenshot {
    width: 50%;
    align-self: center;
  }

  .about-div {
    span {
      font-weight: bold;
    }
  }
}
